@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<div class="jumbotron">
    <h1 class="display-4">Dotnet App</h1>
    <p class="lead">This app is having slow performance, please help the customer to identify the reason.</p>
    <hr class="my-4">
</div>